[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
NuGetPackages/
_[Rr]e[Ss]harper.*/
TestResults/
_NCrunch_*/
Packages.dgml
*.suo
*.sln.cache
*.user
*.cache
*.orig
*.vsmdi
*.testrunconfig
*.docstates
*.[Rr]e[Ss]harper*
*.dotCover
*.DotSettings
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.local.xml
*.crunchproject.local.xml
*_mm_cache.bin
AutoFixture character.design
.fake/