[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
[Pp]ackages/
NuGetPackages/
_[Rr]e[Ss]harper.*/
TestResults/
Packages.dgml
*.suo
*.sln.cache
*.user
*.cache
*.orig
*.vsmdi
*.testrunconfig
*.docstates
*.[Rr]e[Ss]harper*
*.dotCover
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.local.xml
*.crunchproject.local.xml
*_mm_cache.bin
character.design
AutoFixtureLogo1.png
AutoFixtureLogo200x200.png
AutoFixtureLogo100x100.png
