image: Visual Studio 2017

environment:
  NUGET_API_KEY:
    secure: HSJghQXnTTBmDjuFR0BJaiDixxmXfPrQEc4OIyI8aD+kPVRnuTstHc0eFY5WMoAH
  MYGET_API_KEY:
    secure: hA4Ut1N2lrrdEtAN24Bty/FNiU0d/Ur/dLYSqpr8jKHOvoO7MU4jD+KwzUvATh+E

pull_requests:
  do_not_increment_build_number: true

# Is required by SourceLink to have valid file hashes.
# See more detail here: https://github.com/ctaggart/SourceLink/wiki/Line-Endings
init:
  - git config --global core.autocrlf input

build_script:
- ps: |
    & .\build.cmd AppVeyor NuGetPublicKey="$($Env:NUGET_API_KEY)" NuGetPrivateKey="$($Env:MYGET_API_KEY)" BuildVersion=git BuildNumber=$($Env:APPVEYOR_BUILD_NUMBER)

test: off

artifacts:
- path: build\NuGetPackages\*.nupkg
  name: NuGet

deploy: off

