<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AutoRhinoMock.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Release (Any CPU)&quot; configuration in project &quot;C:\Users\mark\Documents\ploeh\Common\AutoFixture\Src\AutoRhinoMock\AutoRhinoMock.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>