<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AutoFoq.ruleset" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA2000" Action="None" />
  </Rules>
</RuleSet>