<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exude" version="0.2.0" targetFramework="net40" />
  <package id="FsCheck" version="0.9.2.0" targetFramework="net40" />
  <package id="Unquote" version="2.2.2" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net40" />
</packages>