<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Fare.ruleset" Description="" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>