<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AutoFixture" Description="Rule set for all AutoFixture projects" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA2243" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
    <Rule Id="CA1825" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id = "SA0001" Action = "None" /> <!-- XML comment analysis is disabled due to project configuration -->
    <Rule Id = "SA1000" Action = "None" /> <!-- The keyword 'if' should be followed by a space. -->
    <Rule Id = "SA1001" Action = "None" /> <!-- Commas should be followed by whitespace. -->
    <Rule Id = "SA1002" Action = "None" /> <!-- Semicolons should be followed by a space. -->
    <Rule Id = "SA1003" Action = "None" /> <!-- Operator ':' should be preceded by whitespace. -->
    <Rule Id = "SA1004" Action = "None" /> <!-- Documentation line should begin with a space. -->
    <Rule Id = "SA1005" Action = "None" /> <!-- Single line comment should begin with a space. -->
    <Rule Id = "SA1008" Action = "None" /> <!-- Opening parenthesis should not be followed by a space. -->
    <Rule Id = "SA1009" Action = "None" /> <!-- Closing parenthesis should be followed by a space. -->
    <Rule Id = "SA1011" Action = "None" /> <!-- Closing square bracket should be followed by a space. -->
    <Rule Id = "SA1012" Action = "None" /> <!-- Opening brace should be followed by a space. -->
    <Rule Id = "SA1013" Action = "None" /> <!-- Closing brace should be preceded by a space. -->
    <Rule Id = "SA1015" Action = "None" /> <!-- Closing generic bracket should be followed by a space. -->
    <Rule Id = "SA1021" Action = "None" /> <!-- Negative sign should be preceded by a space. -->
    <Rule Id = "SA1024" Action = "None" /> <!-- Colon should be preceded by a space. -->
    <Rule Id = "SA1025" Action = "None" /> <!-- Code should not contain multiple whitespace characters in a row. -->
    <Rule Id = "SA1026" Action = "None" /> <!-- The keyword 'new' should not be followed by a space or a blank line. -->
    <Rule Id = "SA1027" Action = "None" /> <!-- Tabs and spaces should be used correctly -->
    <Rule Id = "SA1028" Action = "None" /> <!-- Code should not contain trailing whitespace -->
    <Rule Id = "SA1101" Action = "None" /> <!-- Prefix local calls with this -->
    <Rule Id = "SA1106" Action = "None" /> <!-- Code should not contain empty statements -->
    <Rule Id = "SA1107" Action = "None" /> <!-- Code should not contain multiple statements on one line -->
    <Rule Id = "SA1110" Action = "None" /> <!-- Opening parenthesis or bracket should be on declaration line. -->
    <Rule Id = "SA1111" Action = "None" /> <!-- Closing parenthesis should be on line of last parameter -->
    <Rule Id = "SA1114" Action = "None" /> <!-- Parameter list should follow declaration -->
    <Rule Id = "SA1115" Action = "None" /> <!-- The parameter should begin on the line after the previous parameter. -->
    <Rule Id = "SA1116" Action = "None" /> <!-- The parameters should begin on the line after the declaration, whenever the parameter span across multiple lines-->
    <Rule Id = "SA1117" Action = "None" /> <!-- The parameters should all be placed on the same line or each parameter should be placed on its own line. -->
    <Rule Id = "SA1118" Action = "None" /> <!-- The parameter spans multiple lines -->
    <Rule Id = "SA1119" Action = "None" /> <!-- Statement should not use unnecessary parenthesis -->
    <Rule Id = "SA1121" Action = "None" /> <!-- Use built-in type alias -->
    <Rule Id = "SA1122" Action = "None" /> <!-- Use string.Empty for empty strings -->
    <Rule Id = "SA1124" Action = "None" /> <!-- Do not use regions -->
    <Rule Id = "SA1125" Action = "None" /> <!-- Use shorthand for nullable types -->
    <Rule Id = "SA1127" Action = "None" /> <!-- Generic type constraints should be on their own line -->
    <Rule Id = "SA1128" Action = "None" /> <!-- Put constructor initializers on their own line -->
    <Rule Id = "SA1129" Action = "None" /> <!-- Do not use default value type constructor -->
    <Rule Id = "SA1130" Action = "None" /> <!-- Use lambda syntax -->
    <Rule Id = "SA1131" Action = "None" /> <!-- Constant values should appear on the right-hand side of comparisons-->
    <Rule Id = "SA1133" Action = "None" /> <!-- Each attribute should be placed in its own set of square brackets. -->
    <Rule Id = "SA1136" Action = "None" /> <!-- Enum values should be on separate lines -->
    <Rule Id = "SA1137" Action = "None" /> <!-- Elements should have the same indentation -->
    <Rule Id = "SA1139" Action = "None" /> <!-- Use literal suffix notation instead of casting -->
    <Rule Id = "SA1200" Action = "None" /> <!-- Using directive should appear within a namespace declaration -->
    <Rule Id = "SA1201" Action = "None" /> <!-- A property should not follow a method -->
    <Rule Id = "SA1202" Action = "None" /> <!-- 'public' members should come before 'private' members -->
    <Rule Id = "SA1203" Action = "None" /> <!-- Constant fields should appear before non-constant fields -->
    <Rule Id = "SA1204" Action = "None" /> <!-- Static members should appear before non-static members -->
    <Rule Id = "SA1210" Action = "None" /> <!-- Using directives should be ordered alphabetically by the namespaces. -->
    <Rule Id = "SA1214" Action = "None" /> <!-- Readonly fields should appear before non-readonly fields -->
    <Rule Id = "SA1300" Action = "None" /> <!-- Element 'none' should begin with an uppercase letter -->
    <Rule Id = "SA1307" Action = "None" /> <!-- Field 'specimenBuilder' should begin with upper-case letter -->
    <Rule Id = "SA1309" Action = "None" /> <!-- Field '_as' should not begin with an underscore -->
    <Rule Id = "SA1310" Action = "None" /> <!-- Field 'DELAY_MSEC' should not contain an underscore -->
    <Rule Id = "SA1311" Action = "None" /> <!-- Static readonly fields should begin with upper-case letter -->
    <Rule Id = "SA1312" Action = "None" /> <!-- Variable '_' should begin with lower-case letter -->
    <Rule Id = "SA1313" Action = "None" /> <!-- Parameter '_' should begin with lower-case letter -->
    <Rule Id = "SA1314" Action = "None" /> <!-- Type parameter names should begin with T -->
    <Rule Id = "SA1400" Action = "None" /> <!-- Element 'AssertExceptionPropertiesEqual' should declare an access modifier-->
    <Rule Id = "SA1401" Action = "None" /> <!-- Field should be private -->
    <Rule Id = "SA1402" Action = "None" /> <!-- File may only contain a single type -->
    <Rule Id = "SA1404" Action = "None" /> <!-- Code analysis suppression should have justification -->
    <Rule Id = "SA1407" Action = "None" /> <!-- Arithmetic expressions should declare precedence -->
    <Rule Id = "SA1408" Action = "None" /> <!-- Conditional expressions should declare precedence -->
    <Rule Id = "SA1413" Action = "None" /> <!-- Use trailing comma in multi-line initializers -->
    <Rule Id = "SA1500" Action = "None" /> <!-- Braces for multi-line statements should not share line -->
    <Rule Id = "SA1501" Action = "None" /> <!-- Statement should not be on a single line -->
    <Rule Id = "SA1502" Action = "None" /> <!-- Element should not be on a single line -->
    <Rule Id = "SA1503" Action = "None" /> <!-- Braces should not be omitted -->
    <Rule Id = "SA1504" Action = "None" /> <!-- All accessors should be single-line or multi-line -->
    <Rule Id = "SA1507" Action = "None" /> <!-- Code should not contain multiple blank lines in a row -->
    <Rule Id = "SA1508" Action = "None" /> <!-- A closing brace should not be preceded by a blank line. -->
    <Rule Id = "SA1509" Action = "None" /> <!-- Opening braces should not be preceded by blank line. -->
    <Rule Id = "SA1512" Action = "None" /> <!-- Single-line comments should not be followed by blank line -->
    <Rule Id = "SA1513" Action = "None" /> <!-- Closing brace should be followed by blank line -->
    <Rule Id = "SA1514" Action = "None" /> <!-- Element documentation header should be preceded by blank line -->
    <Rule Id = "SA1515" Action = "None" /> <!-- Single-line comment should be preceded by blank line -->
    <Rule Id = "SA1516" Action = "None" /> <!-- Elements should be separated by blank line -->
    <Rule Id = "SA1518" Action = "None" /> <!-- Code should not contain blank lines at the end of the file -->
    <Rule Id = "SA1519" Action = "None" /> <!-- Braces should not be omitted from multi-line child statement -->
    <Rule Id = "SA1600" Action = "None" /> <!-- Elements should be documented -->
    <Rule Id = "SA1604" Action = "None" /> <!-- Element documentation should have summary -->
    <Rule Id = "SA1610" Action = "None" /> <!-- Property documentation should have value text -->
    <Rule Id = "SA1611" Action = "None" /> <!-- The documentation for parameter 'predicate' is missing -->
    <Rule Id = "SA1612" Action = "None" /> <!-- The parameter documentation for 'context' should be at position 1. -->
    <Rule Id = "SA1614" Action = "None" /> <!-- Element parameter documentation should have text -->
    <Rule Id = "SA1615" Action = "None" /> <!-- Element return value should be documented -->
    <Rule Id = "SA1616" Action = "None" /> <!-- Element return value documentation should have text -->
    <Rule Id = "SA1618" Action = "None" /> <!-- The documentation for type parameter 'TProperty' is missing -->
    <Rule Id = "SA1622" Action = "None" /> <!-- Generic type parameter documentation should have text. -->
    <Rule Id = "SA1623" Action = "None" /> <!-- The property's documentation summary text should begin with: 'Gets' -->
    <Rule Id = "SA1625" Action = "None" /> <!-- Element documentation should not be copied and pasted -->
    <Rule Id = "SA1627" Action = "None" /> <!-- The documentation text within the \'exception\' tag should not be empty. -->
    <Rule Id = "SA1629" Action = "None" /> <!-- Documentation text should end with a period. -->
    <Rule Id = "SA1633" Action = "None" /> <!-- The file header is missing or not located at the top of the file. -->
    <Rule Id = "SA1642" Action = "None" /> <!-- Constructor summary documentation should begin with standard text -->
    <Rule Id = "SA1649" Action = "None" /> <!-- File name should match first type name. -->
  </Rules>
</RuleSet>
