<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Empty" Description="Rule set with disabled rules for the test projects" ToolsVersion="15.0">
  <Include Path="codeanalysis.autofixture.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1007" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1013" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1023" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1025" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1035" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1038" Action="None" />
    <Rule Id="CA1039" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1046" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1048" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1053" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1057" Action="None" />
    <Rule Id="CA1058" Action="None" />
    <Rule Id="CA1059" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1306" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="None" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1700" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1809" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="None" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2001" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2003" Action="None" />
    <Rule Id="CA2004" Action="None" />
    <Rule Id="CA2006" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2102" Action="None" />
    <Rule Id="CA2103" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="None" />
    <Rule Id="CA2106" Action="None" />
    <Rule Id="CA2107" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2115" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2120" Action="None" />
    <Rule Id="CA2121" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2151" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2205" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2218" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2220" Action="None" />
    <Rule Id="CA2221" Action="None" />
    <Rule Id="CA2222" Action="None" />
    <Rule Id="CA2223" Action="None" />
    <Rule Id="CA2224" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2228" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2230" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2232" Action="None" />
    <Rule Id="CA2233" Action="None" />
    <Rule Id="CA2234" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2236" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2238" Action="None" />
    <Rule Id="CA2239" Action="None" />
    <Rule Id="CA2240" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA5122" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26100" Action="None" />
    <Rule Id="C26101" Action="None" />
    <Rule Id="C26105" Action="None" />
    <Rule Id="C26110" Action="None" />
    <Rule Id="C26111" Action="None" />
    <Rule Id="C26112" Action="None" />
    <Rule Id="C26115" Action="None" />
    <Rule Id="C26116" Action="None" />
    <Rule Id="C26117" Action="None" />
    <Rule Id="C26130" Action="None" />
    <Rule Id="C26135" Action="None" />
    <Rule Id="C26140" Action="None" />
    <Rule Id="C26160" Action="None" />
    <Rule Id="C26165" Action="None" />
    <Rule Id="C26166" Action="None" />
    <Rule Id="C26167" Action="None" />
    <Rule Id="C26400" Action="None" />
    <Rule Id="C26401" Action="None" />
    <Rule Id="C26402" Action="None" />
    <Rule Id="C26403" Action="None" />
    <Rule Id="C26404" Action="None" />
    <Rule Id="C26405" Action="None" />
    <Rule Id="C26406" Action="None" />
    <Rule Id="C26407" Action="None" />
    <Rule Id="C26408" Action="None" />
    <Rule Id="C26409" Action="None" />
    <Rule Id="C26410" Action="None" />
    <Rule Id="C26411" Action="None" />
    <Rule Id="C26414" Action="None" />
    <Rule Id="C26415" Action="None" />
    <Rule Id="C26416" Action="None" />
    <Rule Id="C26417" Action="None" />
    <Rule Id="C26418" Action="None" />
    <Rule Id="C26426" Action="None" />
    <Rule Id="C26427" Action="None" />
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26430" Action="None" />
    <Rule Id="C26431" Action="None" />
    <Rule Id="C26432" Action="None" />
    <Rule Id="C26433" Action="None" />
    <Rule Id="C26434" Action="None" />
    <Rule Id="C26435" Action="None" />
    <Rule Id="C26436" Action="None" />
    <Rule Id="C26437" Action="None" />
    <Rule Id="C26438" Action="None" />
    <Rule Id="C26439" Action="None" />
    <Rule Id="C26440" Action="None" />
    <Rule Id="C26441" Action="None" />
    <Rule Id="C26443" Action="None" />
    <Rule Id="C26444" Action="None" />
    <Rule Id="C26445" Action="None" />
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26447" Action="None" />
    <Rule Id="C26448" Action="None" />
    <Rule Id="C26449" Action="None" />
    <Rule Id="C26450" Action="None" />
    <Rule Id="C26451" Action="None" />
    <Rule Id="C26452" Action="None" />
    <Rule Id="C26453" Action="None" />
    <Rule Id="C26454" Action="None" />
    <Rule Id="C26460" Action="None" />
    <Rule Id="C26461" Action="None" />
    <Rule Id="C26462" Action="None" />
    <Rule Id="C26463" Action="None" />
    <Rule Id="C26464" Action="None" />
    <Rule Id="C26465" Action="None" />
    <Rule Id="C26466" Action="None" />
    <Rule Id="C26471" Action="None" />
    <Rule Id="C26472" Action="None" />
    <Rule Id="C26473" Action="None" />
    <Rule Id="C26474" Action="None" />
    <Rule Id="C26475" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26483" Action="None" />
    <Rule Id="C26485" Action="None" />
    <Rule Id="C26486" Action="None" />
    <Rule Id="C26487" Action="None" />
    <Rule Id="C26489" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26491" Action="None" />
    <Rule Id="C26492" Action="None" />
    <Rule Id="C26493" Action="None" />
    <Rule Id="C26494" Action="None" />
    <Rule Id="C26495" Action="None" />
    <Rule Id="C26496" Action="None" />
    <Rule Id="C26497" Action="None" />
    <Rule Id="C26498" Action="None" />
    <Rule Id="C28020" Action="None" />
    <Rule Id="C28021" Action="None" />
    <Rule Id="C28022" Action="None" />
    <Rule Id="C28023" Action="None" />
    <Rule Id="C28024" Action="None" />
    <Rule Id="C28039" Action="None" />
    <Rule Id="C28101" Action="None" />
    <Rule Id="C28103" Action="None" />
    <Rule Id="C28104" Action="None" />
    <Rule Id="C28105" Action="None" />
    <Rule Id="C28106" Action="None" />
    <Rule Id="C28107" Action="None" />
    <Rule Id="C28108" Action="None" />
    <Rule Id="C28109" Action="None" />
    <Rule Id="C28110" Action="None" />
    <Rule Id="C28111" Action="None" />
    <Rule Id="C28112" Action="None" />
    <Rule Id="C28113" Action="None" />
    <Rule Id="C28114" Action="None" />
    <Rule Id="C28120" Action="None" />
    <Rule Id="C28121" Action="None" />
    <Rule Id="C28122" Action="None" />
    <Rule Id="C28123" Action="None" />
    <Rule Id="C28124" Action="None" />
    <Rule Id="C28125" Action="None" />
    <Rule Id="C28126" Action="None" />
    <Rule Id="C28127" Action="None" />
    <Rule Id="C28128" Action="None" />
    <Rule Id="C28129" Action="None" />
    <Rule Id="C28131" Action="None" />
    <Rule Id="C28132" Action="None" />
    <Rule Id="C28133" Action="None" />
    <Rule Id="C28134" Action="None" />
    <Rule Id="C28135" Action="None" />
    <Rule Id="C28137" Action="None" />
    <Rule Id="C28138" Action="None" />
    <Rule Id="C28141" Action="None" />
    <Rule Id="C28143" Action="None" />
    <Rule Id="C28144" Action="None" />
    <Rule Id="C28145" Action="None" />
    <Rule Id="C28146" Action="None" />
    <Rule Id="C28147" Action="None" />
    <Rule Id="C28150" Action="None" />
    <Rule Id="C28151" Action="None" />
    <Rule Id="C28152" Action="None" />
    <Rule Id="C28153" Action="None" />
    <Rule Id="C28156" Action="None" />
    <Rule Id="C28157" Action="None" />
    <Rule Id="C28158" Action="None" />
    <Rule Id="C28159" Action="None" />
    <Rule Id="C28160" Action="None" />
    <Rule Id="C28161" Action="None" />
    <Rule Id="C28162" Action="None" />
    <Rule Id="C28163" Action="None" />
    <Rule Id="C28164" Action="None" />
    <Rule Id="C28165" Action="None" />
    <Rule Id="C28166" Action="None" />
    <Rule Id="C28167" Action="None" />
    <Rule Id="C28168" Action="None" />
    <Rule Id="C28169" Action="None" />
    <Rule Id="C28170" Action="None" />
    <Rule Id="C28171" Action="None" />
    <Rule Id="C28172" Action="None" />
    <Rule Id="C28173" Action="None" />
    <Rule Id="C28175" Action="None" />
    <Rule Id="C28176" Action="None" />
    <Rule Id="C28182" Action="None" />
    <Rule Id="C28183" Action="None" />
    <Rule Id="C28193" Action="None" />
    <Rule Id="C28194" Action="None" />
    <Rule Id="C28195" Action="None" />
    <Rule Id="C28196" Action="None" />
    <Rule Id="C28197" Action="None" />
    <Rule Id="C28198" Action="None" />
    <Rule Id="C28199" Action="None" />
    <Rule Id="C28202" Action="None" />
    <Rule Id="C28203" Action="None" />
    <Rule Id="C28204" Action="None" />
    <Rule Id="C28205" Action="None" />
    <Rule Id="C28206" Action="None" />
    <Rule Id="C28207" Action="None" />
    <Rule Id="C28208" Action="None" />
    <Rule Id="C28209" Action="None" />
    <Rule Id="C28210" Action="None" />
    <Rule Id="C28211" Action="None" />
    <Rule Id="C28212" Action="None" />
    <Rule Id="C28213" Action="None" />
    <Rule Id="C28214" Action="None" />
    <Rule Id="C28215" Action="None" />
    <Rule Id="C28216" Action="None" />
    <Rule Id="C28217" Action="None" />
    <Rule Id="C28218" Action="None" />
    <Rule Id="C28219" Action="None" />
    <Rule Id="C28220" Action="None" />
    <Rule Id="C28221" Action="None" />
    <Rule Id="C28222" Action="None" />
    <Rule Id="C28223" Action="None" />
    <Rule Id="C28224" Action="None" />
    <Rule Id="C28225" Action="None" />
    <Rule Id="C28226" Action="None" />
    <Rule Id="C28227" Action="None" />
    <Rule Id="C28228" Action="None" />
    <Rule Id="C28229" Action="None" />
    <Rule Id="C28230" Action="None" />
    <Rule Id="C28231" Action="None" />
    <Rule Id="C28232" Action="None" />
    <Rule Id="C28233" Action="None" />
    <Rule Id="C28234" Action="None" />
    <Rule Id="C28235" Action="None" />
    <Rule Id="C28236" Action="None" />
    <Rule Id="C28237" Action="None" />
    <Rule Id="C28238" Action="None" />
    <Rule Id="C28239" Action="None" />
    <Rule Id="C28240" Action="None" />
    <Rule Id="C28241" Action="None" />
    <Rule Id="C28243" Action="None" />
    <Rule Id="C28244" Action="None" />
    <Rule Id="C28245" Action="None" />
    <Rule Id="C28246" Action="None" />
    <Rule Id="C28250" Action="None" />
    <Rule Id="C28251" Action="None" />
    <Rule Id="C28252" Action="None" />
    <Rule Id="C28253" Action="None" />
    <Rule Id="C28254" Action="None" />
    <Rule Id="C28260" Action="None" />
    <Rule Id="C28262" Action="None" />
    <Rule Id="C28263" Action="None" />
    <Rule Id="C28266" Action="None" />
    <Rule Id="C28267" Action="None" />
    <Rule Id="C28272" Action="None" />
    <Rule Id="C28273" Action="None" />
    <Rule Id="C28275" Action="None" />
    <Rule Id="C28278" Action="None" />
    <Rule Id="C28279" Action="None" />
    <Rule Id="C28280" Action="None" />
    <Rule Id="C28282" Action="None" />
    <Rule Id="C28283" Action="None" />
    <Rule Id="C28284" Action="None" />
    <Rule Id="C28285" Action="None" />
    <Rule Id="C28286" Action="None" />
    <Rule Id="C28287" Action="None" />
    <Rule Id="C28288" Action="None" />
    <Rule Id="C28289" Action="None" />
    <Rule Id="C28290" Action="None" />
    <Rule Id="C28291" Action="None" />
    <Rule Id="C28300" Action="None" />
    <Rule Id="C28301" Action="None" />
    <Rule Id="C28302" Action="None" />
    <Rule Id="C28303" Action="None" />
    <Rule Id="C28304" Action="None" />
    <Rule Id="C28305" Action="None" />
    <Rule Id="C28306" Action="None" />
    <Rule Id="C28307" Action="None" />
    <Rule Id="C28308" Action="None" />
    <Rule Id="C28309" Action="None" />
    <Rule Id="C28350" Action="None" />
    <Rule Id="C28351" Action="None" />
    <Rule Id="C28601" Action="None" />
    <Rule Id="C28602" Action="None" />
    <Rule Id="C28604" Action="None" />
    <Rule Id="C28615" Action="None" />
    <Rule Id="C28616" Action="None" />
    <Rule Id="C28617" Action="None" />
    <Rule Id="C28623" Action="None" />
    <Rule Id="C28624" Action="None" />
    <Rule Id="C28625" Action="None" />
    <Rule Id="C28636" Action="None" />
    <Rule Id="C28637" Action="None" />
    <Rule Id="C28638" Action="None" />
    <Rule Id="C28639" Action="None" />
    <Rule Id="C28640" Action="None" />
    <Rule Id="C28645" Action="None" />
    <Rule Id="C28648" Action="None" />
    <Rule Id="C28649" Action="None" />
    <Rule Id="C28650" Action="None" />
    <Rule Id="C28714" Action="None" />
    <Rule Id="C28715" Action="None" />
    <Rule Id="C28716" Action="None" />
    <Rule Id="C28717" Action="None" />
    <Rule Id="C28719" Action="None" />
    <Rule Id="C28720" Action="None" />
    <Rule Id="C28721" Action="None" />
    <Rule Id="C28726" Action="None" />
    <Rule Id="C28727" Action="None" />
    <Rule Id="C28730" Action="None" />
    <Rule Id="C28735" Action="None" />
    <Rule Id="C28736" Action="None" />
    <Rule Id="C28750" Action="None" />
    <Rule Id="C28751" Action="None" />
    <Rule Id="C6001" Action="None" />
    <Rule Id="C6011" Action="None" />
    <Rule Id="C6014" Action="None" />
    <Rule Id="C6029" Action="None" />
    <Rule Id="C6031" Action="None" />
    <Rule Id="C6053" Action="None" />
    <Rule Id="C6054" Action="None" />
    <Rule Id="C6059" Action="None" />
    <Rule Id="C6063" Action="None" />
    <Rule Id="C6064" Action="None" />
    <Rule Id="C6066" Action="None" />
    <Rule Id="C6067" Action="None" />
    <Rule Id="C6101" Action="None" />
    <Rule Id="C6200" Action="None" />
    <Rule Id="C6201" Action="None" />
    <Rule Id="C6211" Action="None" />
    <Rule Id="C6214" Action="None" />
    <Rule Id="C6215" Action="None" />
    <Rule Id="C6216" Action="None" />
    <Rule Id="C6217" Action="None" />
    <Rule Id="C6219" Action="None" />
    <Rule Id="C6220" Action="None" />
    <Rule Id="C6221" Action="None" />
    <Rule Id="C6225" Action="None" />
    <Rule Id="C6226" Action="None" />
    <Rule Id="C6230" Action="None" />
    <Rule Id="C6235" Action="None" />
    <Rule Id="C6236" Action="None" />
    <Rule Id="C6237" Action="None" />
    <Rule Id="C6239" Action="None" />
    <Rule Id="C6240" Action="None" />
    <Rule Id="C6242" Action="None" />
    <Rule Id="C6244" Action="None" />
    <Rule Id="C6246" Action="None" />
    <Rule Id="C6248" Action="None" />
    <Rule Id="C6250" Action="None" />
    <Rule Id="C6255" Action="None" />
    <Rule Id="C6258" Action="None" />
    <Rule Id="C6259" Action="None" />
    <Rule Id="C6260" Action="None" />
    <Rule Id="C6262" Action="None" />
    <Rule Id="C6263" Action="None" />
    <Rule Id="C6268" Action="None" />
    <Rule Id="C6269" Action="None" />
    <Rule Id="C6270" Action="None" />
    <Rule Id="C6271" Action="None" />
    <Rule Id="C6272" Action="None" />
    <Rule Id="C6273" Action="None" />
    <Rule Id="C6274" Action="None" />
    <Rule Id="C6276" Action="None" />
    <Rule Id="C6277" Action="None" />
    <Rule Id="C6278" Action="None" />
    <Rule Id="C6279" Action="None" />
    <Rule Id="C6280" Action="None" />
    <Rule Id="C6281" Action="None" />
    <Rule Id="C6282" Action="None" />
    <Rule Id="C6283" Action="None" />
    <Rule Id="C6284" Action="None" />
    <Rule Id="C6285" Action="None" />
    <Rule Id="C6286" Action="None" />
    <Rule Id="C6287" Action="None" />
    <Rule Id="C6288" Action="None" />
    <Rule Id="C6289" Action="None" />
    <Rule Id="C6290" Action="None" />
    <Rule Id="C6291" Action="None" />
    <Rule Id="C6292" Action="None" />
    <Rule Id="C6293" Action="None" />
    <Rule Id="C6294" Action="None" />
    <Rule Id="C6295" Action="None" />
    <Rule Id="C6296" Action="None" />
    <Rule Id="C6297" Action="None" />
    <Rule Id="C6298" Action="None" />
    <Rule Id="C6299" Action="None" />
    <Rule Id="C6302" Action="None" />
    <Rule Id="C6303" Action="None" />
    <Rule Id="C6305" Action="None" />
    <Rule Id="C6306" Action="None" />
    <Rule Id="C6308" Action="None" />
    <Rule Id="C6310" Action="None" />
    <Rule Id="C6312" Action="None" />
    <Rule Id="C6313" Action="None" />
    <Rule Id="C6314" Action="None" />
    <Rule Id="C6315" Action="None" />
    <Rule Id="C6316" Action="None" />
    <Rule Id="C6317" Action="None" />
    <Rule Id="C6318" Action="None" />
    <Rule Id="C6319" Action="None" />
    <Rule Id="C6320" Action="None" />
    <Rule Id="C6322" Action="None" />
    <Rule Id="C6323" Action="None" />
    <Rule Id="C6324" Action="None" />
    <Rule Id="C6326" Action="None" />
    <Rule Id="C6328" Action="None" />
    <Rule Id="C6329" Action="None" />
    <Rule Id="C6330" Action="None" />
    <Rule Id="C6331" Action="None" />
    <Rule Id="C6332" Action="None" />
    <Rule Id="C6333" Action="None" />
    <Rule Id="C6334" Action="None" />
    <Rule Id="C6335" Action="None" />
    <Rule Id="C6336" Action="None" />
    <Rule Id="C6340" Action="None" />
    <Rule Id="C6381" Action="None" />
    <Rule Id="C6383" Action="None" />
    <Rule Id="C6384" Action="None" />
    <Rule Id="C6385" Action="None" />
    <Rule Id="C6386" Action="None" />
    <Rule Id="C6387" Action="None" />
    <Rule Id="C6388" Action="None" />
    <Rule Id="C6400" Action="None" />
    <Rule Id="C6401" Action="None" />
    <Rule Id="C6411" Action="None" />
    <Rule Id="C6412" Action="None" />
    <Rule Id="C6500" Action="None" />
    <Rule Id="C6501" Action="None" />
    <Rule Id="C6503" Action="None" />
    <Rule Id="C6504" Action="None" />
    <Rule Id="C6505" Action="None" />
    <Rule Id="C6506" Action="None" />
    <Rule Id="C6508" Action="None" />
    <Rule Id="C6509" Action="None" />
    <Rule Id="C6510" Action="None" />
    <Rule Id="C6511" Action="None" />
    <Rule Id="C6513" Action="None" />
    <Rule Id="C6514" Action="None" />
    <Rule Id="C6515" Action="None" />
    <Rule Id="C6516" Action="None" />
    <Rule Id="C6517" Action="None" />
    <Rule Id="C6518" Action="None" />
    <Rule Id="C6522" Action="None" />
    <Rule Id="C6525" Action="None" />
    <Rule Id="C6527" Action="None" />
    <Rule Id="C6530" Action="None" />
    <Rule Id="C6540" Action="None" />
    <Rule Id="C6551" Action="None" />
    <Rule Id="C6552" Action="None" />
    <Rule Id="C6701" Action="None" />
    <Rule Id="C6702" Action="None" />
    <Rule Id="C6703" Action="None" />
    <Rule Id="C6704" Action="None" />
    <Rule Id="C6705" Action="None" />
    <Rule Id="C6706" Action="None" />
    <Rule Id="C6707" Action="None" />
    <Rule Id="C6993" Action="None" />
    <Rule Id="C6995" Action="None" />
    <Rule Id="C6997" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="None" />
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1001" Action="None" />
    <Rule Id="SA1002" Action="None" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1006" Action="None" />
    <Rule Id="SA1007" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1010" Action="None" />
    <Rule Id="SA1011" Action="None" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1014" Action="None" />
    <Rule Id="SA1015" Action="None" />
    <Rule Id="SA1016" Action="None" />
    <Rule Id="SA1017" Action="None" />
    <Rule Id="SA1018" Action="None" />
    <Rule Id="SA1019" Action="None" />
    <Rule Id="SA1020" Action="None" />
    <Rule Id="SA1021" Action="None" />
    <Rule Id="SA1022" Action="None" />
    <Rule Id="SA1023" Action="None" />
    <Rule Id="SA1024" Action="None" />
    <Rule Id="SA1025" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1106" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1109" Action="None" />
    <Rule Id="SA1110" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1112" Action="None" />
    <Rule Id="SA1113" Action="None" />
    <Rule Id="SA1114" Action="None" />
    <Rule Id="SA1115" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1120" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1125" Action="None" />
    <Rule Id="SA1126" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1130" Action="None" />
    <Rule Id="SA1131" Action="None" />
    <Rule Id="SA1132" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1134" Action="None" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1136" Action="None" />
    <Rule Id="SA1137" Action="None" />
    <Rule Id="SA1139" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1206" Action="None" />
    <Rule Id="SA1207" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1209" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1211" Action="None" />
    <Rule Id="SA1212" Action="None" />
    <Rule Id="SA1213" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1217" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1301" Action="None" />
    <Rule Id="SA1302" Action="None" />
    <Rule Id="SA1303" Action="None" />
    <Rule Id="SA1304" Action="None" />
    <Rule Id="SA1305" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1307" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1312" Action="None" />
    <Rule Id="SA1313" Action="None" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1403" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1406" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1409" Action="None" />
    <Rule Id="SA1410" Action="None" />
    <Rule Id="SA1411" Action="None" />
    <Rule Id="SA1412" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1505" Action="None" />
    <Rule Id="SA1506" Action="None" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1509" Action="None" />
    <Rule Id="SA1510" Action="None" />
    <Rule Id="SA1511" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1517" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="SA1520" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1603" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1628" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1630" Action="None" />
    <Rule Id="SA1631" Action="None" />
    <Rule Id="SA1632" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1644" Action="None" />
    <Rule Id="SA1645" Action="None" />
    <Rule Id="SA1646" Action="None" />
    <Rule Id="SA1647" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1650" Action="None" />
    <Rule Id="SA1651" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Runtime.Analyzers" RuleNamespace="System.Runtime.Analyzers">
    <Rule Id="CA1825" Action="None" />
  </Rules>
  <Rules AnalyzerId="System.Threading.Tasks.Analyzers" RuleNamespace="System.Threading.Tasks.Analyzers">
    <Rule Id="RS0018" Action="None" />
  </Rules>
  <Rules AnalyzerId="XmlDocumentationComments.Analyzers" RuleNamespace="XmlDocumentationComments.Analyzers">
    <Rule Id="RS0010" Action="None" />
  </Rules>
</RuleSet>